@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
@use "../utilities/functions" as func;
@use "sass:map";
@use "sass:list";

body {
  font-family: var.$main-font;
  color: var.$primaryTextColor;
  font-weight: 500;
  font-size: map.get(var.$font-sizes, "md");

}

.container {
  max-width: 1312px;
  margin-right: auto;
  margin-left: auto;
}
