@use "../../assets/scss/utilities/variables" as var;
@use "sass:map";

.about-us-section {
  padding: 20px 0px;
}

.about-us-list {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: center;
  padding: 40px 0;
  border: 2px dashed #f4c550;
  border-radius: 30px;
}

.about-us-list-el {
  display: flex;
  align-items: center;
  gap: 16px;
}

.about-us-text-number {
  font-size: map.get(var.$font-sizes, "xxxl");
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.about-us-text {
font-weight: 400;
font-size: map.get(var.$font-sizes, "sm");
line-height: 1.29;
letter-spacing: -0.02em;
color: var.$secondaryAccentTextColor;
max-width: 74px;
}
